---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import '_syntax-highlighting';

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

html {
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  line-height: 1.7;
  background: #fff;
  color: #555;
}

body, html {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  color: #333;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

h2 {
  margin-top: 2rem;
}

header h1 {
  color: #EB5E55;
}

main {
  margin: auto;
  width: 35rem;
  padding: 3rem;
}

.date {
  display: inline-block;
  color: #666;
  font-style: italic;
}

header a {
  text-decoration: none;
  color: inherit;
}

section a {
  color: #EB5E55;
  text-decoration: none;
  border-bottom: 1px solid #fad7d4;
}

pre, code {
  font-size: 0.8rem;
  color: #333;
}

code {
  background: #eee;
  padding: 0 0.3rem;
  display: inline-block;
  position: relative;
  top: -0.1rem;
}

pre {
  background: #eee;
  padding: 0.3rem;
  overflow: auto;
}

pre code {
  top: 0;
}

img {
  padding: 0;
  margin: 0;
}

.header {
  margin-bottom: 2rem;
}

.header h1 {
  margin-bottom: 0;
}

.footer::before {
  content: "—";
  display: block;
  margin: 2rem 0;
}
