---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import '_syntax-highlighting';


html, body {
  margin: 0;
  color: #111716;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
}

body {
  border-top: 4px solid #edc374;
}

main {
  margin: auto;
  padding: 0 1em 2em;
  max-width: 600px;
}

header {
  padding: 2.5em 0 1.5em;
}

section {
  position: relative;
  padding: 1.5em 0;
}

a {
  color: #6a9591;
  color: transparent;
  text-shadow: 0 0 #6a9591, .08em 0 0 #fff, 0 0, -.08em 0 0 #fff;
  background: -webkit-linear-gradient(#d8e3e2, #d8e3e2) left 1.09em no-repeat;
  background: linear-gradient(#d8e3e2, #d8e3e2) left 1.09em no-repeat;
  background-size: 100% 1px;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #404e66;
}

h1, h2 {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1 {
  color: #404e66;
}

h1 a {
  text-shadow: none;
  background: none;
}

header h1, header h1 a {
  color: #404e66;
}

article header h1, section h1, section h1 a {
  color: #6a9591;
}

h2 {
  font-size: 100%;
}

header h2 {
  margin-top: 0.5em;
}

article h1+p, section h1+p {
  margin-top: 2em;
}

article h2, section h2 {
  margin-top: 2em;
}

article h2 a, section h2 a {
  text-decoration: none;
  background: none;
  text-shadow: none;
}

hr {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  width: 38.2%;
  margin: 2.5em auto;
}

p:last-child {
  margin-bottom: 0;
}

section.link h2 a, section.link h1 a {
  color: #6a9591;
  color: transparent;
  text-shadow: 0 0 #6a9591, .08em 0 0 #fff, 0 0, -.08em 0 0 #fff;
  background: -webkit-linear-gradient(#d8e3e2, #d8e3e2) left 1.09em no-repeat;
  background: linear-gradient(#d8e3e2, #d8e3e2) left 1.09em no-repeat;
  background-size: calc(100% - 1.2em) 1px;
}

section.link h2 a:hover, section.link h1 a:hover {
  color: #404e66;
}

section.link h2 a:after, section.link h1 a:after {
  content: " →"
}

section img {
  max-width: 100%;
}

ul {
  padding-left: 1.7em;
  list-style: square;
}

@media (min-width: 480px) {
  body { font-size: 17px; }
  main { padding: 0 2em 5em; }
  header { padding: 3.5em 0 1.5em; }
  section { padding: 1.5em 0; }
}

@media (min-width: 1000px) {
  main { padding: 0 2em 8em; }
  header { padding: 5em 0 1.5em; }
  section { padding: 2.5em 0; }
}

/* --- */

pre {
  padding: 1em;
  overflow: auto;
  width: 100%;
}

pre code {
  padding: 0;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
  font-size: 90%;
  line-height: 150%;
}

code {
  display: inline-block;
  padding: 0 0.35em;
}

/* --- */

.postmeta {
  margin-top: 2em;
  font-size: 75%;
}

.video .wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.2%;
}

.video .wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

figure {
  margin: 1.5em auto;
  text-align: center;
}
